<!-- <div id="top"> -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <!-- TEACH OVERSEA -->
                <img src="img/logo_blue.png" class="hidden-xs img-responsive" alt="teachOversea-logo">
                <img src="img/logo_blue_xs.png" class="visible-xs img-responsive" alt="teachOversea-logo">
            </a>

        </div>

        <div class="topnav">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" id="shopping-cart">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                My Shopping Cart
                </a>
            </div>


            <div class="btn-group">
                <!-- Emails -->
                <a data-placement="bottom" data-original-title="E-mail" data-toggle="tooltip"
                    class="btn btn-default btn-sm">
                    <i class="fa fa-envelope"></i>
                    <span class="label label-warning">5</span>
                </a>
                <!-- Messages -->
                <a data-placement="bottom" data-original-title="Messages" href="#" data-toggle="tooltip" class="btn btn-default btn-sm">
                    <i class="fa fa-comments"></i>
                    <span class="label label-danger">4</span>
                </a>

                <!-- Help -->
                <a data-toggle="modal" data-original-title="Help" data-placement="bottom" class="btn btn-default btn-sm" href="">
                    <i class="fa fa-question"></i>
                </a>
            </div>
            <!-- Logout -->
            <div class="btn-group">
            <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip"
                                       class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </a>
                <a href="#logout" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm">
                <i class="fa fa-power-off"></i>
                </a>
            </div>
        </div>


        <div class="collapse navbar-collapse" id="top-navbar-collapse">
            <!-- <form class="navbar-form navbar-right">
                <div class="input-group" style="margin:0px;">
                    <input id="search-bar" type="text" class="form-control" placeholder="Search for candidates">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-pink">Search</button>
                    </span>
                </div>
            </form> -->
            <ul class="nav navbar-nav">
                <li><a href="#postJob" style="color: #FF7F66">Create a new posting</a></li>
               <!--  <li><a href="#pool" style="color: #FF7F66">View All Candidates</a></li> -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username"><i class="fa fa-angle-down" aria-hidden="true"></i>
                    <%= fname %> <%= lname %></span></a>

                   <!--  <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#user/recruiter/resetPw">Change Password</a></li>
                        <li><a href="#recruiter/pricing">Pricing</a></li>
                        <li class="divider"></li>
                        <li><a href="#logout">Log out</a></li>
                    </ul> -->
                </li>

            </ul>            
        </div>
        
    </div>
</nav>
<!-- </div> -->
<!-- For side menu -->
<!-- <div class="wrapper container-fluid" id="sidebar-content" style="padding-left: 0px;">

</div> -->

<!-- End of sidebar -->


