<!-- Side Bar -->
<!-- 
<div class="row row-offcanvas row-offcanvas-left"> -->
  <!--   
    <div class="column col-md-2 col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar"> -->
        <ul class="nav" id="menu">
            <li class="dashboard-menu">
                <a href="#dashboard">
                <i class="fa fa-tachometer" aria-hidden="true"></i><span class="link-title">Dashboard</span></a>
            </li>
            <li class="managejob-menu">
                <a href="#jobManagement">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                    <span class="link-title">Jobs</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <li>
                       <a href="#postJob"> <i class="fa fa-angle-right"></i>&nbsp; Post New</a>
                    </li>
                    <li>
                       <a href="#published"> <i class="fa fa-angle-right"></i>&nbsp; Published</a>
                    </li>
                    <li>
                       <a href="#drafts"> <i class="fa fa-angle-right"></i>&nbsp; Drafts</a>
                    </li>
                    <li>
                       <a href="#archived"> <i class="fa fa-angle-right"></i>&nbsp; Archived</a>
                    </li>
                </ul>
            </li>

            <li class="candidates-menu">
                <a href="javascript:;">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                    <span class="link-title">Candidates</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <li>
                       <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; All</a>
                    </li>
                    <li>
                       <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Offered</a>
                    </li>
                    <li>
                       <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Interviewed</a>
                    </li>
                    <li>
                       <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Signed</a>
                    </li>
                </ul>
            </li>
            <li class="interview-menu">
                <a href="javascript:;">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="link-title">Interview</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <li>
                       <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Upcoming interviews</a>
                    </li>
                    <li>
                       <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Review interview videos</a>
                    </li>
                </ul>

            </li>

            <li>
                <a href="#notThereYet">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span class="link-title">Saved Candidates</span>
                </a>
            </li>
            <li>
                <a href="#pool">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="link-title">Teacher Pools</span>
                </a>
            </li>
            <li>
                <a href="#notThereYet">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="link-title">Mail Box</span>
                </a>
            </li>
            <li>
                <a href="#notThereYet">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="link-title">Contract</span></a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="#notThereYet">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    <span class="link-title">Wallet</span>
                </a>
            </li>
            <li>
                <a href="#notThereYet">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <span class="link-title">Album</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <span class="link-title">Profile</span>
                    <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <li>
                            <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; My Profile</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Change Email</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-angle-right"></i>&nbsp; Change Password</a>
                        </li>
                    </ul>
            </li>

            <li class="last">
                 <a href="#notThereYet">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span class="link-title">Settings</span>
                </a>
            </li>
        </ul>
<!--     </div>
 -->
    

<!-- 
</div> -->