@fa-font-path :   "../../fonts";
@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sans Bold";
  src: url(../../fonts/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }
body, html {
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700; }

h4 {
  overflow: hidden; }

.mt-user {
  margin-top: 50px !important; }

@media (min-width: 768px) and (max-width: 991px) {
  .mt-user {
    margin-top: 100px !important; } }
#content {
  min-height: 85%; }

.pink-text {
  color: #FF7F66; }

.blue-text {
  color: #2186C4; }

.red-text {
  color: red; }

.m2 {
  margin: 2px; }

.mt4 {
  margin-top: 4px; }

.mb4 {
  margin-bottom: 4px; }

.mt8 {
  margin-top: 8px; }

.mb8 {
  margin-bottom: 8px; }

.mb10 {
  margin-bottom: 10px; }

.ml8 {
  margin-left: 8px; }

.mt10 {
  margin-top: 10px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mt20 {
  margin-top: 20px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.floatl {
  float: left; }

.floatr {
  float: right; }

.w80 {
  max-width: 80%; }

.bborder {
  border-bottom: 1px solid #ddd; }

.curselink {
  cursor: pointer; }

h1, h2, h3, h4 {
  font-weight: bold; }

h1 {
  text-transform: uppercase; }

h2, h3, h4, h5 {
  font-family: "Sans Bold", sans-serif; }

h5 {
  font-size: 1.2em; }

p.large-text {
  font-size: 1.2em; }

h2.section-heading {
  margin-bottom: 30px; }

.text-center {
  text-align: center; }

a.pink, a.pink-link {
  text-decoration: none;
  color: #FF7F66; }
  a.pink :hover, a.pink-link :hover {
    color: #ff5433; }

.btn-pink {
  font-family: Arial;
  color: #FFF6E5;
  background: #FF7F66;
  text-decoration: none; }

.btn-pink-inverse {
  font-family: Arial;
  color: #FF7F66;
  background: #FFF6E5;
  text-decoration: none;
  border: solid 2px #FF7F66; }
  .btn-pink-inverse:hover {
    color: #ff5433; }

a.blue, a.blue-link {
  text-decoration: none;
  color: #2186C4; }
  a.blue :hover, a.blue-link :hover {
    color: #1a6898; }

.btn-blue {
  font-family: Arial;
  color: white;
  background: #2186C4;
  text-decoration: none; }

.fav-button {
  color: #FF7F66;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px; }

.fav-button:hover {
  cursor: pointer;
  background-color: #EEE; }

.unfav {
  color: #eee !important; }

/***** Lists *****/
ul {
  list-style: none; }

li.position-list {
  position: relative; }

.searchresult {
  border-bottom: 1px solid #ddd; }

.search-result-summary > p > i.fa, .search-result-summary > div > p > i.fa {
  color: #FF7F66;
  width: 25px; }

.btn-full {
  width: 100%; }

.btn-pink:focus, .btn-pink.focus {
  color: #FFF6E5;
  outline-color: none; }

.btn-pink:hover {
  background: #ff5433;
  text-decoration: none;
  color: #FFF6E5; }

.btn-blue:focus, .btn-blue.focus {
  color: white;
  outline-color: none; }

.btn-blue:hover {
  background: #1a6898;
  text-decoration: none;
  color: white; }

.black-text {
  color: #333; }

.white-text {
  color: #FFF6E5; }

.blue-text {
  color: #2186C4; }

.text-muted {
  font-size: 1em; }

div.content-panel {
  background: white;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px; }

div.white-panel {
  background-color: #fff;
  border: 1px solid #e0e2e3;
  padding: 15px; }

@media (min-width: 768px) {
  .tab-content {
    margin: auto;
    padding: 15px;
    margin: auto;
    max-width: 500px; } }
@media (max-width: 767px) {
  div.content-panel {
    padding: 12px; }

  .container {
    padding-left: 8px !important;
    padding-right: 8px !important; } }
thead {
  color: #FF7F66 !important; }

th {
  max-width: 150px; }

div.datepicker {
  max-height: 300px !important; }

html, body {
  padding-top: 25px; }

html {
  min-height: 100%; }

.bg-light.lter {
  min-height: 85vh !important; }

/***** Navigation Bar *****/
#top > .navbar {
  border-top: 3px solid #4A5B7D; }

#top > .navbar .dropdown-menu > li > a:hover,
#top > .navbar .dropdown-menu > li > a:focus {
  background-color: #4A5B7D;
  color: #ffffff; }

#menu {
  background-color: #4A5B7D !important; }

.navbar-brand {
  padding-top: 3px;
  padding-bottom: 3px; }

.pool {
  padding-top: 35px;
  overflow-x: scroll; }

tr > td.recruiter-job-status {
  text-transform: uppercase; }

tr.success > td.recruiter-job-status {
  color: #4CAF50; }

tr.warning > td.recruiter-job-status {
  color: #ed143d; }

td.photo-cell {
  width: 90px;
  padding: 7px 10px; }

img.candidate-img-sm {
  width: 70px;
  height: 70px; }

td.result-header {
  font-weight: 700;
  font-size: 1.1em; }

td.candidate-summary {
  position: relative; }

div.favp > i.fa-left {
  position: absolute;
  top: 12px;
  left: 50px;
  color: #EAEAEA; }
  div.favp > i.fa-left:hover {
    transform: scale(1.1); }
  div.favp > i.fa-left.fav {
    color: #fe7676; }

td.recRate {
  min-width: 110px; }

.recruiter-fixed-button {
  position: fixed;
  bottom: 50px;
  margin-bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

/***** Resume *****/
img.candidate-img-md {
  width: 100px;
  height: 100px; }

small.resume-date {
  position: absolute;
  right: 15px; }

div.favp-modal > i.fa-modal {
  position: absolute;
  top: 25px;
  left: 30px; }

dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  border-right: 1px solid #999; }

dl {
  display: table-row; }

dl dt, dl dd {
  display: table-cell;
  padding-bottom: 20px; }

dl dd {
  width: 500px;
  padding-left: 26px; }

@media screen and (max-width: 1100px) {
  div#resume h2 span {
    position: static;
    display: block;
    margin-top: 2px; } }
@media screen and (max-width: 550px) {
  body {
    margin: 1rem; }

  div#resume img {
    transform: rotate(0deg); } }
/******* multistep forms ****/
#job-post {
  text-align: center;
  position: relative; }

h4.fs-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 25%;
  float: left;
  color: #2186C4;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  font-size: 10px;
  display: block;
  color: #FFF6E5;
  background: #FF7F66;
  border-radius: 3px;
  margin: 0 auto 5px auto; }

#progressbar li.active:before, #progressbar li.active:after {
  background: #2186C4; }

/*Progressbar connectoers*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #FF7F66;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; }

#progressbar li:first-child:after {
  content: none; }

/******* Side bar ********/
.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table; }

.wrapper:after,
.column:after {
  clear: both; }

#sidebar {
  background-color: #4A5B7D;
  padding-left: 0;
  padding-right: 0;
  float: left;
  min-height: 100%; }

#sidebar .collapse.in {
  display: inline; }

#sidebar > .nav > li > a {
  white-space: nowrap;
  overflow: hidden; }

ul.sidebar-menu > li:last-child > a,
ul.sidebar-menu > li.last > a {
  border-bottom-color: transparent !important; }

#main {
  padding: 10px;
  left: 0;
  overflow: scroll;
  height: 100%; }

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  #sidebar {
    min-width: 44px; }

  #main {
    width: 87%;
    left: 0; }

  #sidebar .visible-xs {
    display: inline !important; }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

  .row-offcanvas-left.active {
    left: 45%; }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -45%;
    position: absolute;
    top: 0;
    width: 45%; } }
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }

  .row-offcanvas-left.active {
    left: 3%; }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width: 42px; }

  #main {
    left: 0; } }
/****** input  for tags *******/
.tt-input,
.tt-hint {
  width: 256px;
  height: 28px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none; }

.tt-input {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 300px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 20px; }

.tt-suggestion.tt-is-under-cursor {
  /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf; }

.tt-suggestion p {
  margin: 0; }

/****** Table ***********/
th.table-position, td.table-position {
  width: 20%;
  overflow: ellipsis; }

tr.draft:hover {
  background-color: #ddd;
  cursor: pointer; }

/****** Shopping Cart ******/

/*# sourceMappingURL=recruiter.css.map */
