<div class="inner bg-light lter">
	<div class="main-bar">
		<ol class="breadcrumb">
		  	<li class="active">Archived Jobs</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-lg-12">
		    <div class="box">
		        <header>
		            <div class="icons"><i class="fa fa-table"></i></div>
		            <h5>Archived Jobs</h5>
		        </header>
		        <div class="body">
		        	<table class="table" id="archive-table">
		        		<thead align="center">
		            			<tr>
		            				<th class="table-position">Position</th>
		            				<th>Post Date</th>
		            				<th>Close Date</th>
		            				<th>Action</th>
		            			</tr>
		            	</thead>

		            	<tbody id="archive-list">
		            	</tbody>
		        	</table>
		        </div>
		    </div>
		</div>
	</div>
</div>
