<div class="outer">
	<div class="inner bg-light lter">
		<div class="main-bar">
			<!-- <h3>Drafts</h3> -->
			<ol class="breadcrumb">
		  		<li class="active">Drafts</li>
			</ol>
		</div>
		<div class="row">
		  	<div class="col-lg-12">
		        <div class="box">
		            <header>
		                <div class="icons"><i class="fa fa-table"></i></div>
		                <h5>Drafts</h5>
		            </header>
		            <div class="body">
		            	<table id="drafts-table" class="table">
		            		<thead align="center">
		            			<tr>
		            				<th class="table-position">Position</th>
		            				<th>Last Modified</th>
		            				<th>Action</th>
		            			</tr>
		            		</thead>

		            		<tbody id="draft-list">
		            		</tbody>
		            	</table>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
</div>