<div class="outer">
	<div class="inner bg-light lter">
		<div class="main-bar">
			<ol class="breadcrumb">
		  		<li class="active">Published Jobs</li>
			</ol>
		</div>
		<div class="row">
		  	<div class="col-lg-12">
		        <div class="box">
		            <header>
		                <div class="icons"><i class="fa fa-table"></i></div>
		                <h5>Published Jobs</h5>
		            </header>
		            <div class="body">
		            	<table id="published-table"  class="table">	
							<thead align="center">
							<tr>
								<th class="table-position">Position</th>
								<th class="table-date">Post Date</th>
								<th>Location</th>
								<th>Candidates</th>
								<th>Action</th>
							</tr>
							</thead>

							<tbody id="published-list"></tbody>
						</table>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>