<div class="outer">
	<div class="inner bg-light lter">
		<div class="main-bar">
		<h3>Shopping Cart</h3>
		</div>
		<div class="column-labels">
		    <label class="product-image">Avatar</label>
		    <label class="product-details">Candidate</label>
		    <label class="product-price">Price</label>
		    <label class="product-removal">Remove</label>
		    <label class="product-line-price">Total</label>
  		</div>

  		<div class="product">
		    <div class="product-image">
		    	<img src="http://placehold.it/100x100" class="candidate-img-md">
		    </div>
		    <div class="product-details">
			    <div class="product-title">J.P</div>
			    <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
			    </div>
		    <div class="product-price">40</div>
		    
		    <div class="product-removal">
		      <button class="remove-product">Remove</button>
		    </div>
		    <div class="product-line-price">40</div>
		</div>
	</div>
</div>