    <link rel="stylesheet" type="text/css" href="css/landing-page.css" rel="stylesheet">
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <!-- <h1>Landing Page</h1> -->
                        <h1 style="text-transform: capitalize;">TeachOversea</h1>
                        <hr class="intro-divider">
                        <h2>A full-circle career support system for teachers</h2>
                        <h2>seeking employment abroad</h2>
                        
                        <!-- <h4>For young professionals seeking employment abroad.</h4> -->

                        <!-- ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h3 class="section-heading">We aim to source talent and opportunity and intelligently connect the two, while offering high-quality customer service from start to finish.</h3>
                    <!-- <p class="lead">We aim to source talent and opportunity and intelligently connect the two, while offering high-quality customer service from start to finish.</p> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- Page Content -->

	<a  name="who"></a>
    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who We Are</h2>
                    <p class="lead">TeachOversea was built by a group of passionate bridge-builders. We are excited to help job-seekers and employers connect. We greatly respect those who are willing to take on the challenge of the expat-life, and we want to make the daunting task of finding international employment as straight-forward as possible.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What We Offer</h2>
                    <ul class="list-style">
                        <li>An online portal for both recruiters and candidates.
                            <p class="lead">Both sides are instantly show a selection of jobs or candidates that match their requirements on a sliding scale.</p>
                        </li>
                        <li>Smart matching algorithm
                        <p class="lead">Both sides can determine whether a job or candidate is a good fit without blindly applying to multiple jobs with no feedback. </p>
                        </li>

                    </ul>
                   <!--  <p class="lead">TeachOversea offers an online portal that allows candidates and recruiters to submit their job requirements, and both sides are instantly show a selection of jobs or candidates that match their requirements on a sliding scale.</p>
                    <p class="lead">Our matching algorithm lets both sides determine whether a job or candidate is a good fit without blindly applying to multiple jobs with no feedback. We want to help talent and opportunity quickly and efficiently connect and begin the on-boarding process. </p> -->
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/slideshow.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Full-Circle Support System -->
<!--     <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">“Full-Circle” Support System</h2>
                    <p class="lead">TeachOversea partners with many professional English education associations in China and has been providing full services in recruiting, relocating and supporting young professionals to teach English and other classes in various cities on the mainland. We pride ourselves on our unique “closed-loop” support system that aims to not only help candidates get matched with a job in China, but also a job in the US upon completion of their teaching contract. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
    </div> -->
    <!-- /.content-section-b -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to TeachOversea:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/WeTeachOversea" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li> 
                        <li>
                            <a href="https://www.linkedin.com/company-beta/17935197/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/hilandtalentteachoversea" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                       
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->