<div class="container mt20">
<div class="content-panel tab-content">
	<h2 class="section-heading text-center">Congratulations!</h2>
	<h4 class="text-center">Your account has been activated!</h4>
	<div id="forNewUser">
		<p>In order to start applying for jobs, we require all candidates to have a user profile. A fully completed profile increases your chances of being seen and it helps us match you with positions that fit your interests and skills.</p>
		<h4 class="text-center"><a href="#activate/profile">COMPLETE MY PROFILE</a></h4>
	</div>
	
	<!-- <p class="text-muted text-center">or you can mannually <a href="#activate/profile">go to profile page</a>.</p> -->
</div>
</div>