<div class="container mt50">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			
		
			<div class="white-panel">
				<h2 class="section-heading text-center">Congratulations!</h2>
				<p class="text-center">Your application has been received! <a href="#user/myapplication">View your application</a></p>
				<h4 class="mt10 mb10 fs-title text-center">You may also be interested in these jobs: </h4>
				<ul id="similar-job">
				
				</ul>
			</div>
			</div>
	</div>
</div>
<!-- 
<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Application Received</h3>
</div>
<div class="bbm-modal__section">
	
	<p>Your application has been received!</p>
	<p><a href="#user/myapplication">View your application</a></p>
	<p>You may also be interested in these jobs: </p>
		<ul id="similar-job">
		</ul>

</div>

<div class="bbm-modal__bottombar">
      <button class="btn btn-default cancel">Close</button>
</div> -->