<div class="container mt-user">
	<div class="row">
		<div class="col-sm-9 col-xs-12">
			<div class="content-panel">
			<h4 class="fs-title"><i class="fa fa-paper-plane" aria-hidden="true"></i> My Application</h4>
				<p class="no-application hidden">
					You have not applied to any positions yet.<br><br>
					Explore <a href="#search/%3Fposition%3D%26city%3D%26subject%3D%26grade%3D">Jobs</a>
				</p>
				
				<ul id="applied-job-list">
					
				</ul>
			</div>
		</div>
		
		<div class="col-sm-3 visible-md-block visible-lg-block visible-sm-block">
			<div class="content-panel">
				<h4 class="text-center fs-title">Profile Strength</h4>
        		<div id="profile-strength">
				</div>				
			</div>
		</div>
		
	</div>
</div>