<div class="mt-user" style="height: 100%;">
	<div class="text-center tab-content content-panel">
		<h2 class="section-heading">Change Email Address</h2>
		<div class="alert alert-warning">
			This action will change your login Email. <br>You can always specify your contact Email every time you apply to a new position.
		</div>
	    <p class="text-center text-muted">Please enter your new Email address.</p>
	    <form enctype="multipart/form-data" id="resetEmail-form">
	    	<div class="form-group email has-feedback">
	    		<input type="email" name="email" required id="new-email" class="form-control" placeholder="Enter your New Email Address">
	    	</div>
	    	<div class="form-group">
	    		<input type="email" name="confirm" required placeholder="Confirm New Email Address" class="form-control mt8">
	    	</div>
	    	<div class="alert alert-danger hidden"></div>
	    	
	    	
	    	<button class="btn btn-default btn-blue mt8" id="submitButton" style="width: 100%">Submit</button>
	    </form>
	</div>
</div>