<!-- <link rel="stylesheet" type="text/css" href="css/clean-blog.css">
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Contact us</h1>
                        <h2 class="subheading">Let us know what we can help</h2>

                    </div>
                </div>
        </div>
    </div>
</header> -->
<div class="container mt-user">
    <div class="row">

    <div class="col-sm-9 col-xs-12">
        <div class="content-panel">
        <h4 class="fs-title">Contact us</h4>
            <p>Let us know what we can help. Use the email form below to contact us.</p>
            <!-- <div class="white-panel"> -->
                <form id="contactForm" class="mt20">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <input type="text" class="form-control" placeholder="Name" id="name"  name="name" required>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <input type="email" class="form-control" placeholder="Email Address" name="email" id="email" required>
                           
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <textarea rows="5" name="message" class="form-control" placeholder="Message" id="message" required></textarea>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-blue" id="send">Send Message</button>
                        </div>
                    </div>
                </form>
                <div id="success" class="alert alert-success" style="display: none">Thank you! We will reply soon.</div>
          <!--   </div> -->
        </div>
    </div>
    <div class="col-sm-3 hidden-xs">
        <!-- <div class="alert alert-info">
            Some regular questions goes here
            <h5 class="black-text">Question 1</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div> -->
    </div>
    </div>
</div>
