<div class="row education">
	<div class="col-xs-12">
		<h5><%= school %><span class="text-muted">, <%= fromDate %> to <%= toDate %></span></h5>
	</div>

	<div class="col-xs-10">
		<p class="text-muted"><%= degree %>, <%= field %></p>
	</div>
	<div class="col-xs-1">
		 <span class="glyphicon glyphicon-edit" aria-hidden="true" id="edit-edu"></span>
	</div>

	<div class="col-xs-1">
		<span class="glyphicon glyphicon-remove" aria-hidden="true" id="remove-edu"></span>
	</div>
	
</div>
<div class="app"></div>
