<div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title">Edit Education</h3>
    </div>
    <div class="bbm-modal__section">
    <form id="edit-education-form">
		<div class="col-sm-6">
		<div class="form-group">
			<label for="degree">Degree</label>
				<select class="form-control" name="degree" required>
					<option value="Bachelor Degree">Bachelor's Degree</option>
					<option value="Master Degree">Master's Degree</option>
					<option value="Doctoral's Degree">Doctoral's Degree</option>
					<option value="Others">Others</option>
				</select>
			</div>
		</div>
			

		<div class="col-sm-6">
			<div class="form-group">
				<label for="field">Major</label>
				<input type="text" name="field" class="form-control" required value="<%= field %>">
			</div>				
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="fromDate">Start Date</label>
				<input name="fromDate" class="form-control date-input" id="fromDate" required value="<%= fromDate %>" data-date-format="yyyy-mm-dd">
			</div>			
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="toDate">End Date</label>
				<input  name="toDate" class="form-control date-input" id="toDate" required value="<%= toDate %>" data-date-format="yyyy-mm-dd">
			</div>	
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label for="school">School Name</label>
				<input type="text" name="school" class="form-control" required value="<%= school %>">
			</div>				
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="country">Country</label>
				<select name="country" class="form-control select-country" required>
					<option value="<%= country %>" selected="selected"><%= country %></option>
				</select>
				<!-- <input type="text" name="country"  class="form-control select-country" required value="<%= country %>"> -->
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="form-group">
				<label for="city">City</label>
				<input type="text" name="city"  class="form-control" required value="<%= city %>">
			</div>
		</div>

	</form>
    </div>

    <div class="bbm-modal__bottombar">
      <button class="btn btn-default cancel">Close</button>
      <button class="btn btn-blue save">Save</button>
    </div>