<div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title">Edit Experience</h3>
    </div>
    <div class="bbm-modal__section">
    <form id="edit-experience-form">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="role">Title</label>
				<input type="text" name="role" class="form-control" value="<%= role %>" required >
			</div>				
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="company">Company Name</label>
				<input type="text" name="company" class="form-control"  value="<%= company %>" required>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="fromDate">Start Date</label>
				<input name="fromDate" class="form-control date-input" id="fromDate"  value="<%= fromDate %>" required data-date-format="yyyy-mm-dd">
			</div>								
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="toDate">End Date</label>
				<input  name="toDate" class="form-control date-input" id="toDate" value="<%= toDate %>" required data-date-format="yyyy-mm-dd">
			</div>				
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<label>Summary</label>
				<textarea rows="4" name="responsibility" class="form-control"><%= responsibility %></textarea>
				<span id="chars">255</span> characters remaining
			</div>
		</div>
	</form>

    </div>

    <div class="bbm-modal__bottombar">
      <button class="btn btn-default cancel">Close</button>
      <button class="btn btn-blue save">Save</button>
    </div>