<div class="container mt20" style="height: 100%;">
	<div class="text-center tab-content">
		<h2 class="section-heading">Forget Password</h2>
	    <p class="text-center text-muted">Enter the Email address associated with your Teach Oversea account. We will email you a link to reset your password.</p>
	    <form enctype="multipart/form-data" id="forgetPw-form">
	    	<input type="email" name="email" id="email" placeholder="Enter your Email address" class="form-control" required>
	    	<input type="hidden" name="type">
	    	<div class="alert alert-warning hidden"></div>
	    	<button class="btn btn-default btn-blue mt8" id="resetPwButton" style="width: 100%">Send Email</button>
	    </form>

	</div>
    
</div>