<div class="container mt50">
<div class="tab-content">
	

	<h2 class="section-heading text-center">Congrats on your New Job!</h2>
	<p class="text-center large-text">We want to celebrate your success. We will always be here for you if you need us in the future.</p>
	<p class="large-text mt50">Best wishes.</p>
	<div class="media">
		<div class="media-left">
			<img src="img/logo_blue.png" class="media-object">
		</div>
	
	<div class="media-body">
		<h4>TeachOversea Team</h4>
	</div>
	</div>
</div>
</div>