<div class="container">
	<div class="row" style="margin-left: 25px;">
	<h2 class="section-heading">Manage Job Posting</h2>
		<div class="col-sm-9 col-xs-12">
		<div class="table-responsive">
			<table class="table table-bordered display" style="text-align: center;" id="manage-job-table" cellspacing="0" width="100%">
			<thead >
				<tr>
					<th>Title</th>
					<th>Post Date</th>
					<th>Duplicate</th>
					<th>Status</th>
					<th>Candidates</th>
					<th>Edit</th>
					<!-- <th>Delete</th> -->
				</tr>
			</thead>
			<tbody id="manage-job-list">

			</tbody>
		</table>
		</div>
			
		</div>
		
	</div>

</div>
