<h4 class="fs-title text-center">Login to apply</h4>
<form id="login" enctype="application/json">
	<div class="col-xs-12">
		<label>Email:</label>
		<input class="form-control" id="inputEmail" type="email" name="email" required />
	</div>
	<div class="col-xs-12">
		<label>Password:</label>
		<input class="form-control" id="inputPassword" type="password" name="password" required autocomplete="off"/>
	</div>
	<div id="feedback" class="alert alert-warning alert-error hidden"></div>
	<div class="col-xs-12" style="margin: 10px 0px;">
		<input type="checkbox" id="keepSignIn" style="float: left;"><span class="text-muted"> Keep me sign in</span>
	<button id="loginButton" class="btn btn-blue" type="submit" style="width: 100%">Login</button>
	</div>
			
</form>
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<p><a href="#forgetPw/Candidate" class="forgetPw">Forget your password? </a></p>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p style="float: left;">Need an account? <a href="#register" class="register">Sign Up</a></p>
		</div>
	</div>