<!-- Side Bar -->
<!-- 
<div class="row row-offcanvas row-offcanvas-left"> -->
    
    <div class="column col-md-2 col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
        <ul class="nav" id="menu">
            <li class="dashboard-menu">
                <a href="#recruiter/dashboard">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="collapse in hidden-xs">Dashboard</span></a>
            </li>
            <li class="managejob-menu">
                <a href="#recruiter/jobManagement">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span class="collapse in hidden-xs">Manage Job Posting</span></a>
            </li>

            <li class="candidates-menu">
                <a href="#recruiter/candidates">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <span class="collapse in hidden-xs">Candidates</span>
                </a>
            </li>
            <li class="interview-menu">
                <a href="#recruiter/notThereYet">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Arranged Interview</span>
                </a>
            </li>

            <li>
                <a href="#recruiter/notThereYet">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Favorite</span>
                </a>
            </li>
            <li>
                <a href="#recruiter/notThereYet">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Mail Box</span>
                </a>
            </li>
            <li class="last">
                <a href="#recruiter/notThereYet">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Reports</span></a>
            </li>
        </ul>
    </div>

    <div id="main" class="column col-md-10 col-sm-9 col-xs-11">
        <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p>
        <div id="recruiter-content"></div>
    </div>

<!-- 
</div> -->