<div class="container mt20">
	<!-- <div class="row"> -->
	<div class="tab-content content-panel">
	 <h2 class="section-heading">Sign Up and Start Your career</h2>
	 <div id="register-content">
		<form id="register-form">
			<!--<div class="row">	-->
				<div class="col-sm-6 col-xs-12">
					<div class="form-group">
						<input id="inputFirstName" class="form-control" type="text" name="fname" placeholder="First Name" required />
					</div>
					
				</div>

				<div class="col-sm-6 col-xs-12">
					<div class="form-group">
						<input id="inputLastName" class="form-control" type="text" name="lname" placeholder="Last Name" required="" />
					</div>
				</div>
			<!--</div>-->

			<div class="col-xs-12">
				<div class="form-group email has-feedback">
					<input id="inputEmail" class="form-control" type="email" name="email" placeholder="Email Address" required />
				</div>
			</div>

			<!-- <div id="feedback" class="alert"></div> -->

			<div class="col-xs-12">
				<div class="form-group">
				<input id="inputPassword" class="form-control" type="password" name="password" placeholder="Enter Your Password" required autocomplete="off" />
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group">
				<input id="confirmPassword" type="password" name="confirmPassword" class="form-control" placeholder="Confirm Your Password" required autocomplete="off" />
				</div>
			</div>
<!-- 
			<div id="feedback2" class="alert"></div> -->

			<div class="col-xs-12">
				<p class="text-muted">By creating an account, you agree to our <a href="#" data-toggle="modal" data-target="#term-of-service">Terms of Service</a> </p>
			</div>

			<button id="registerButton" class="btn btn-lg btn-blue btn-full">Register</button>


		</form>
		</div>


	</div>
<!-- 	</div> -->
</div>


<!-- Term of Service -->
<div class="modal fade" id="term-of-service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Term of Service</h4>
      </div>


      <div class="modal-body">
        
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

      
    </div>
  </div>
</div>