<div class="container mt20">
	<div class="text-center tab-content content-panel">
		<h2 class="section-heading">Congratulations!</h2>
	    <h4 class="mb8">You are only one step away from your dreamed ESL Job!</h4>
	    <p> We have sent you a confirmation message to <%= email %>.</p>
	    <p>Please check your email to activate your account. </p>
	    <p>Already activate? <a href="#login">Log in now!</a></p>
	    <br><br>
	    <input type="hidden" name="email" value="<%= email %>">
	    <p class="text-muted"> Didn't receive the confirmation Email? Please kindly check your spam box or ask for <button type="button" class="btn btn-default" id="resend">RESEND</button></p>
	    <div class="alert alert-success hidden" >Success. Please check your email again.<br>
	    You can ask for a resend in <span id="time">01:00</span> minutes.
	    </div>
	</div>
    
</div>