<div class="container mt20" style="height: 100%;">
	<div class="text-center content-panel tab-content">
		<h2 class="section-heading">Reset Password</h2>
	    <p class="text-center text-muted">Enter Your new Password.</p>
	    <form enctype="multipart/form-data" id="resetPw-form">
	    	<input type="password" name="password" required class="form-control" placeholder="Enter your New Password">
	    	<input type="password" id="confirm" required placeholder="Confirm New Password" class="form-control">
	    	<div class="alert alert-warning hidden">Passwords are not matched.</div>
	    	<button class="btn btn-default btn-blue mt8" id="resetPwButton" style="width: 100%">Save Password</button>
	    </form>
	</div>
    
</div>