<div class="mt-user" style="height: 100%;">
	<div class="text-center tab-content content-panel">
		<h2 class="section-heading">Reset Password</h2>
	    <p class="text-center text-muted">Enter Your new Password.</p>
	    <form enctype="multipart/form-data" id="resetPw-form">
	    	<div class="form-group">
	    		<input type="password" name="password" id="new-pw" required class="form-control" placeholder="Enter your New Password">
	    	</div>
	    	<div class="form-group">
	    		<input type="password" id="confirm" required placeholder="Confirm New Password" class="form-control mt8">
	    	</div>
	    	
	    	
	    	<div class="alert alert-warning hidden">Passwords are not matched.</div>
	    	<button class="btn btn-default btn-blue mt8" id="resetPwButton" style="width: 100%">Save Password</button>
	    </form>
	</div>
</div>