<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12">
		<h4 class="text-center filename"></h4>
	</div>
	 <div class="clearfix visible-xs-block"></div>
	<div class="col-md-3 col-md-6 col-xs-6">
		<span class="video-play" id="replaceResume"><i class="fa fa-cloud-upload" aria-hidden="true"></i><span>Replace Resume</span></span>
	</div>
	<div class="col-md-3 col-md-6 col-xs-6">
		<span class="video-play" id="viewResume"><i class="fa fa-cloud-download" aria-hidden="true"></i><span>Dowload My resume</span></span>

	<!-- <button class="btn btn-blue" id="viewResume">Download</button> -->
	</div>

</div>
<div class="col-xs-12 white-panel mb10 text-center hidden">
	<!-- Standar Form -->    
	<form enctype="multipart/form-data" id="resume-replace-form">
        <!-- <div class="form-inline"><div class="form-group"><input type="file" name="file" class="form-control-file"/></div><button type="submit" class="btn btn-blue mt10" id="upload">Submit</button></div> -->
	</form>
	<!-- Drop Zone -->
    <h4>Or drag and drop files below</h4>
    <div class="upload-drop-zone" id="drop-zone">
        Just drag and drop files here
    </div>

</div>

