<div class="container mt-user">
	<div class="row">

	<div class="col-sm-9 col-xs-12">
		<div class="content-panel">
			<h4 class="fs-title"><i class="fa fa-folder-open-o" aria-hidden="true"></i> My Resume</h4>
			<div class="no-resume">
				<!-- <p class="no-resume hidden">Sorry You have not uploaded any resume yet.</p>
				<form enctype="multipart/form-data" id="resume-form" class="no-resume hidden text-center">
					
					<div class="form-group">
						<label for="resume" class="floatl">Upload or Replace Resume (.pdf, .txt): </label>
						<input type="file" name="file" class="form-control-file"/>
					</div>
					
					<button type="submit" class="btn btn-blue" id="uploadResume">Submit</button>
				</form> -->
			</div>
			

			<div class="alert alert-success alert-profile mt8 hidden" id="resume-feedback"></div>

			<div id="resume-list"></div>

		</div>
	</div>
	<div class="col-sm-3 col-xs-12">  	
        <div class="content-panel">
        	<h4 class="text-center fs-title">Profile Strength</h4>
        	<div id="profile-strength">
			</div>
        </div>

		<div class="alert alert-info" role="alert">
			<h5 class="black-text">Can I replace my resume?</h5>
				<p>Definitely! Just click "Replace Resume" and follow the instructions.However, this will NOT replace the resume you used when applying to any previous jobs, but will be available on future jobs as your resume on file.</p>
				<h5 class="black-text">Is my resume private?</h5>
				<p>Yes. Your information is not shared with anyone without your explicit consent. </p>
		</div>
	</div>

	</div>
</div>