<div class="container mt-user">
<div class="row">

	<div class="col-sm-9 col-xs-12">
		<div class="content-panel">
			<h4 class="fs-title"><i class="fa fa-heart-o" aria-hidden="true"></i> My Saved Jobs</h4>
			<p class="large-text mt10">Belows are your saved jobs. Click heart icon to unsave. </p>
			<div class="no-jobs hidden">
				<p class="text-muted">You do not have any saved jobs.</p>
			</div>

			<ul id="saved-job-list" class="saved-job-list mt10">
				
			</ul>
		</div>


	</div>

	<div class="col-sm-3 col-xs-12">  	
        <div class="content-panel">
        	<h4 class="text-center fs-title">Profile Strength</h4>
        	<div id="profile-strength">
			</div>
        </div>
	</div>
</div>
</div>