<link rel="stylesheet" type="text/css" href="css/clean-blog.css">
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>TEFL Certification</h1>
                        <h2 class="subheading">All you need to know about TEFL</h2>
                        <!-- <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span> -->
                    </div>
                </div>
        </div>
    </div>
</header>


<article>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10" id="article">


			</div>

			<div class="col-lg-4 col-md-2">
				<div class="content-panel" id="resource">
				</div>

				<div class="content-panel">
					<p><strong>Some of our programs and employers offer a 120 hour online TEFL course as part of their benefits package. Although it is not as effective as an on-site course, these courses are free of charge and are a great resource when you’ve just arrived in your school.</strong></p>
				</div>
				
			</div>
		</div>
	</div>
</article>
