<div class="outer">
	<div class="inner bg-light lter">

	<div class="row">
		<div class="col-sm-12">
			<div class="box dark">
				<header>
					<div class="icons"></div>
		            <h5>Teacher Pool</h5>
				</header>
				<div class="text-center mt20">
					<div class="btn-group" role="group" aria-label="..." >
						<button class="btn btn-blue" id="contact">Send Invitation</button>
						<button class="btn btn-default" id="reject">Send rejection</button>
					</div>
				</div>
				
	<!-- <div class="container pool"> -->
				<div id="resultsContainer" class="mt20">
					<table id="candidate-table"  class="display nowrap" cellspacing="0" width="100%">	
						<thead>
							<tr>
								<th>Complete Date</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Skype</th>
								<th>Phone</th>
								<th>Gender</th>
								<th>Nationality</th>
								<th>Native Language</th>
								<th>Age</th>
								<th>Major</th>
								<th>Graduate Date</th>
								<th>Highest Education</th>
								<th>Certification and hours</th>
								<th>Practicum</th>
								<th>Valid License</th>
								<th>Experience</th>
								<th>Preferred Age Group</th>
								<th>Preferred Subject</th>
								<th>Z-visa Before?</th>
								<th>Expected Salary Min</th>
								<th>Expected Salary Max</th>
								<th>Preferred Location</th>
								<th>Family</th>
								<th>Spouse</th>
								<th>Available Date</th>
								<th>Registered</th>
							</tr>
							
						</thead>
						<tbody id="candidate-list">
							
						</tbody>
						<tfoot>
							<tr>
								<th>Complete Date</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Skype</th>
								<th>Phone</th>
								<th>Gender</th>
								<th>Nationality</th>
								<th>Native Language</th>
								<th>Age</th>
								<th>Major</th>
								<th>Graduate Date</th>
								<th>Highest Education</th>
								<th>Certification and hours</th>
								<th>Practicum</th>
								<th>Valid License</th>
								<th>Experience</th>
								<th>Preferred Age Group</th>
								<th>Preferred Subject</th>
								<th>Z-visa Before?</th>
								<th>Expected Salary Min</th>
								<th>Expected Salary Max</th>
								<th>Preferred Location</th>
								<th>Family</th>
								<th>Spouse</th>
								<th>Available Date</th>
								<th>Registered</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>

	</div>
	</div>
</div>